nav ul li #contactItem {
    background: white;
    color: #5c2f66;
}

main {
    height: auto;
    width: 50%;
    margin: 5% 25% 3% 25%;
}

form label {
    font-size: 22px;
}

form input, form textarea {
    width: 100%;
    border: 1px solid #f2f2f2;
    background-color: #F4F4F4;
    margin-top: 5px;
    padding: 5px;
}

form input {
    height: 30px;
    margin-bottom: 20px;
}

form textarea {
    height: 100px;
}

form button {
    width: 110px;
    margin-right: 10px;
    padding: 10px 20px;
    background: #5c2f66;
    color: white;
    border: none;
}


span.red_star {
    color: #bf0000;
}
