/* Main */

/* Slider section */
main section.slider {
    background-color: #eaeaea;
    padding: 50px 17.5%;

}

/* Content section */
main section.content {
    padding: 25px 17.5%;
}

main section.content h1 {
    color: #5c2f66;
}

main section.content p {
    font-size: 18px;
    font-family: Arial, sans-serif;
    background-color: white;
    color: #2B2B2B;
}

nav ul li #homeItem {
    background-color: white;
    color: #5c2f66;
}

/* Article section */

main section.articles {
    background-color: #eaeaea;
    padding: 25px 17.5%;
    overflow: hidden;

}

main section.articles a article {
    background-color: white;
    width: 30%;
    margin: 25px 1%;
    float: left;
}

main section.articles a article:hover {
    background-color: #5c2f66;
}

main section.articles a article img {
    width: 98%;
    margin: 1% 1% 0 1%;

}

main section.articles article h1 {
    width: 98%;
    margin: 0 1% 1% 1%;
    padding: 2px 0;
    background-color: #5c2f66;
    text-align: center;
    color: white;
}

/* Miscellaneous */

.breakbar {
    width: 100%;
    background-color: #5c2f66;
    height: 2px;
}

