@media screen and (max-width: 1234px){

    main section.content, main section.articles {
        padding: 25px 5%;
    }
    main section.articles a article {
        background-color: white;
        width: 100%;
        margin: 25px 0;
    }

    main section.slider {
        display: none;
    }

}