@media screen and (max-width: 1234px) {

    html, body {
        overflow-x: hidden;
        position: absolute;
        width: 100vw;
        margin: 0 auto;
    }

    header p {
        display: none;
    }

    header a {
        display: none;
    }

    header a button {
        display: none;
    }

    header {
        display: none;
    }

    nav {
        width: 100%;
    }

    nav ul {
        display: none;
        width: 100%;
        margin: 0;
    }

    nav ul li {
        background-color: #333333;
        border: none;
        text-align: center;
        padding: 0;
        width: 100%;
    }

    nav ul li a {
        display: block;
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    nav i.fa-bars {
        color: white;
        position: absolute;
        top: 26px;
        right: 25px;
    }

    nav h1 {
        color: white;
        padding-left: 15px;
    }
}

@media screen and (min-width: 1234px) {
    nav h1 {
        display: none;
    }

    nav i.fa-bars {
        display: none;
    }

}