html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

div#wrapper {
    min-height: 100%;
    position: relative;
}

div#content {
    padding-bottom: 70px;
    resize: both;
    overflow: auto;
}

div#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #5c2f66;
    color: white;
    text-align: center;
}

div#header {
    width: 100%;
}

/* Header */

header {
    padding: 60px 17.5%;
    background-color: #211F20;
    position: relative;

}

header img {
    height: 150px;
}

header p {
    position: absolute;
    bottom: 75px;
    right: 250px;
    padding: 15px;
    margin: 0;
    background-color: #5c2f66;
    color: white;
    border: solid 1px #5c2f66;
    font-size: 15px;
}

header button {
    position: absolute;
    bottom: 75px;
    right: 125px;
    padding: 15px;
    margin: 0;
    background: #5c2f66;
    color: white;
    border: solid 1px #5c2f66;
    font-size: 15px;
}

header button:hover {
    background-color: white;
    color: #5c2f66;
    border: white 1px solid;
}

/* Navigation */

nav {
    background-color: #5c2f66;
    width: 100%;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    width: 65%;
    padding: 0;
    margin: 0 17.5%;
    overflow: hidden;
}

nav ul li {
    background-color: #5c2f66;
    float: left;
    border-left: #472551 1px solid;
    padding: 20px 0;
}

nav ul li:last-of-type {
    border-right: #472551 1px solid;
}

nav ul li a {
    font-size: 15px;
    padding: 21px 20px 21px 20px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    background-color: #ffffff;
    color: black;
}

/* Footer */

#footer a {
    margin: 0;
    color: #b1b1b1;
    font-size: 12px;
}

#footer p {
    margin: 0;
    padding: 20px 0;
}

#footer p span {
    margin: 0;
    color: #b1b1b1;
    font-size: 12px;
}

iframe {
    margin: 0;
    height: 250px;
    width: 100%;
}

