@media screen and (max-width: 1234px) {

    main article {
        margin: 20px 5%;
    }

    .hatchback {
        height: 100px;
    }

    .sedan {
        height: 110px;
    }

    .suv {
        height: 120px;
    }
}