/* Main */

main {
    padding: 50px 0;
}

nav ul li #prijzenItem {
    background-color: white;
    color: #5c2f66;
}

/* Table */

main article {
    margin: 20px 17.5%;
    padding: 10px;
    border: 1px solid #5c2f66;
    border-radius: 5px;
    background-color: #eaeaea;
}

main article h1 {
    margin: 0 0 2px 0;

}

main article p {
    text-align: right;
    margin: 0;
}

main article:hover {
    background-color: #5c2f66;
    color: white;
}

main article pre {
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: left;
    white-space: pre-line;
}

main article img:hover {

}

.hatchback {
    height: 50px;
}

.sedan {
    height: 55px;
}

.suv {
    height: 60px;
}