/* Section + Articles */

section {
    width: 100%;
    margin: 15px 0;

}

nav ul li #realistatiesItem {
    background-color: white;
    color: #5c2f66;
}

div.ism-slider {
    float: left;
    height: 350px;
    width: 40%;
    margin: 5%;
}